[submodule "libs/GooELog"]
	path = libs/GooELog
	url = git@github.com:Gamabunta57/GooELog.git
	branch = main
[submodule "vendors/sdl"]
	path = vendors/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendors/sdl_image"]
	path = vendors/sdl_image
	url = git@github.com:libsdl-org/sdl_image.git
