[submodule "vendors/sdl"]
	path = vendors/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendors/sdl_image"]
	path = vendors/sdl_image
	url = git@github.com:libsdl-org/sdl_image.git
[submodule "vendors/sdl_mixer"]
	path = vendors/sdl_mixer
	url = git@github.com:libsdl-org/SDL_mixer
